{% extends ':home:index.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/validation.js') }}"></script>
{% endblock %}
{% block body %}
    {% for flash_message in app.session.flashbag.get('error') %}
        <div class="alert alert-warning" role="alert" style="margin: 1% 15%">
            {{ flash_message|trans }}
        </div>
    {% endfor %}
    <div class="return col-xs-1 col-sm-3 col-md-2">
        <a onclick="javascript:history.back(); return false;">
            <i class="glyphicon glyphicon-chevron-left"></i>
            <span class="hidden-xs">{{ 'Назад'|trans }}</span>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6">
        <h1 style="margin: 2% 0 4% 0">{{ 'Редаткирование товара'|trans }}</h1>
        {{ form_start(form, {
            'action': path('product_edit_id'),
            'method': 'POST'
        }) }}
        <div class="error">
            <span id="productError"></span>
        </div>
        {{ form_widget(form) }}
        <input type="button" value="{{ 'Сохранить'|trans }}" id="saveProduct" class="col-xs-12 col-md-3 btn btn-default" />
        {{ form_end(form) }}
        <div class="list-group"></div>
    </div>
    <img src="{{ relative_path('/uploads/images/') }}{{ product.image }}"
            class="col-xs-12 col-md-offset-1 col-md-2" id="productImg"/>
    <script>
        var loadFile = function(event) {
            var output = document.getElementById('productImg');
            output.src = URL.createObjectURL(event.target.files[0]);
        };

        $('input[type="file"]').css("width", "140px");
        $('#saveProduct').click(function () {
            productValidate({{ product.id }});
        });
    </script>
    <script src="{{ asset('bundles/app/js/categoriesList.js') }}"></script>
{% endblock %}