{% if error %}
    <div>{{ error }}</div>
{% endif %}

{{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <label for="_confirmPassword">Confirm password</label>
    <input type="password" name="_confirmPassword" id="_confirmPassword">
    <input type="submit" value="Register">
{{ form_end(form) }}