{% block javascripts %}
    <script src="{{ asset('bundles/app/js/validation.js') }}"></script>
    <script>
        var openSearch = false;
        function openSearchForm() {
            if (!openSearch) {
                document.getElementById('searchForm').classList.remove("hidden-xs");
                document.getElementById('searchForm').classList.remove("hidden-sm");
                openSearch = true;
            } else {
                document.getElementById('searchForm').classList.add("hidden-xs");
                document.getElementById('searchForm').classList.add("hidden-sm");
                openSearch = false;
            }
        }
    </script>
{% endblock %}
{% block header %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid ">
            <div class="navbar-header col-xs-4 col-sm-2">
                <a class="navbar-brand" href="/">Sweetland</a>
            </div>
            <div class="icon-bar hidden-sm hidden-md hidden-lg">
                <a class="active" href="#" onclick="openSearchForm()">
                    <i class="glyphicon glyphicon-search col-xs-4"></i>
                </a>
                {% if is_granted("ROLE_USER") %}
                    <a href="/users/details/{{ app.user.id }}">
                        <i class="glyphicon glyphicon-user col-xs-4"></i>
                    </a>
                    <a href="/logout">
                        <i class="glyphicon glyphicon-log-out col-xs-4"></i>
                    </a>
                {% else %}
                    <a href="#" data-toggle="modal" data-target="#loginModal">
                        <i class="glyphicon glyphicon-log-in col-xs-4"></i>
                    </a>
                    <a href="#" data-toggle="modal" data-target="#registrationModal">
                        <i class="glyphicon glyphicon-user col-xs-4"></i>
                    </a>
                {% endif %}
            </div>
            {% if is_granted("ROLE_USER") %}
                <div name="searchList" class="list-group" style="z-index: 100;"></div>
                <form action="{{ path('get_by_filter') }}" class="navbar-form navbar-left col-sm-12 hidden-xs" name="searchForm" role="search">
                    <div class="input-group" style="width: 400px">
                        <input name="searchInput" id="searchInput" type="text" class="form-control" placeholder="{{ 'Ищу...'|trans }}">
                        <span class="input-group-btn">
                            <button id="searchSubmit" class="btn btn-default glyphicon glyphicon-search" type="button"></button>
                        </span>
                    </div>
                </form>
            {% endif %}
            <div class="nav navbar-nav navbar-right col-sm-3 hidden-xs" id="login_logup">
                {% if is_granted("ROLE_USER") %}
                    <p>
                        <a class="active" href="/users/details/{{ app.user.id }}">
                            <i class="glyphicon glyphicon-user"></i>
                            {{ app.user.username }}
                        </a>
                        <a style="margin-left: 30px" href="/logout">
                            <i class="glyphicon glyphicon-log-out"></i>
                            {{ 'Выйти'|trans }}
                        </a>
                    </p>
                {% else %}
                    {% include ':security:unauthorized.html.twig' %}
                {% endif %}
            </div>
        </div>
    </nav>
    <script src="{{ asset('bundles/app/js/listOfProducts.js') }}"></script>
    <script>
        $('#searchSubmit').click(function () {
            $('form[name="searchForm"]').submit();
        });
    </script>
{% endblock %}