{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ 'js/validation.js' }}"></script>
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>#}
    <script>
        let openSearch = false;
        function openSearchForm() {
            if (!openSearch) {
                document.getElementById('searchForm').classList.remove("hidden-xs");
                document.getElementById('searchForm').classList.remove("hidden-sm");
                openSearch = true;
            } else {
                document.getElementById('searchForm').classList.add("hidden-xs");
                document.getElementById('searchForm').classList.add("hidden-sm");
                openSearch = false;
            }
        }

        $(document).ready(function() {
            $('li.dropdown').hover(function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeIn(200);
            }, function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeOut(200);
            });
        });
    </script>
{% endblock %}
{% block header %}
    {% for flash_message in app.session.flashbag.get('message') %}
        {{ flash_message }}
    {% endfor %}

    {#{% if error %}#}
        {#<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
    {#{% endif %}#}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid ">
            <div class="navbar-header col-xs-4 col-sm-2">
                <a class="navbar-brand" href="/">Brand</a>
            </div>
            <div class="icon-bar hidden-sm hidden-md hidden-lg">
                <a class="active" href="#" onclick="openSearchForm()">
                    <i class="glyphicon glyphicon-search col-xs-4"></i>
                </a>
                <a href="#" data-toggle="modal" data-target="#loginModal">
                    <i class="glyphicon glyphicon-log-in col-xs-4"></i>
                </a>
                <a href="#" data-toggle="modal" data-target="#registrationModal">
                    <i class="glyphicon glyphicon-pencil col-xs-4"></i>
                </a>
            </div>
                <form class="navbar-form navbar-left col-sm-12 hidden-xs" id="searchForm" role="search"
                    onsubmit="alert('submit!');return false;">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Ищу...">
                        <span class="input-group-btn">
                            <button class="btn btn-default glyphicon glyphicon-search" type="button"></button>
                        </span>
                    </div>
                </form>
                <div class="nav navbar-nav navbar-right col-sm-3 hidden-xs" id="login_logup">
                    {% if is_granted("USER") %}
                        Hi {{ app.user.username }}
                    {% else %}
                        <button class="btn btn-default" data-toggle="modal" data-target="#loginModal">Вход</button>
                        <button class="btn btn-default" data-toggle="modal" data-target="#registrationModal">Регистрация</button>
                    {% endif %}
                </div>
            </div>
    </nav>
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Вход</h4>
                </div>
                <div class="modal-body">

                    {{ form_start(loginForm, { 'attr': {'class': 'login',
                        'onsubmit': "return loginValidate()"},
                        'action': path('login'), 'method': 'POST'} ) }}
                    <div class="col-sm-offset-2 col-sm-8">
                        <div class="error">
                            <span id="loginError"></span>
                        </div>
                         {{ form_widget(loginForm) }}
                         <div style="display: inline">
                             <input type="submit" value="Войти" class="btn btn-default col-xs-12 col-sm-6"
                                 style="margin-right: 16px;"/>
                             <a href="#" data-toggle="modal" data-target="#forgotPasswordModal" style="padding-top: 7px;"
                                data-dismiss="modal" aria-hidden="true" class="col-xs-12 col-sm-5">
                                 Забыли пароль?
                             </a>
                         </div>
                     </div>
                    {{ form_end(loginForm) }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Регистрация</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(registerForm, { 'attr': {'class': 'register',
                        'onsubmit': "return registrationValidate()"} }) }}
                        <div class="col-sm-offset-2 col-sm-8">
                            <div class="error">
                                <span id="registrationError"></span>
                            </div>
                            {{ form_widget(registerForm) }}
                            <input type="submit" value="Зарегистрироваться" class="btn btn-default" />
                        </div>
                    {{ form_end(registerForm) }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Восстановление пароля</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(forgotPasswordForm, { 'attr': {'class': 'forgotPassword' } }) }}
                    <div class="col-sm-offset-2 col-sm-8">
                        <div class="error">
                            <span id="emailForgotError"></span>
                        </div>
                        {{ form_widget(forgotPasswordForm) }}
                    </div>
                    {{ form_end(forgotPasswordForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block nav %}
    <div class="mainMenu">
        {{ knp_menu_render('main', {'currentClass': 'active'}) }}
    </div>
{% endblock %}
{% block body %}
    {{ knp_menu_render('sidebar', {'currentClass': 'active'}) }}
{% endblock %}




