<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Вход</h4>
            </div>
            <div class="modal-body">

                {{ form_start(loginForm, { 'attr': {
                    'class': 'login',
                    'onsubmit': "return loginValidate()" },
                    'action': path('login'),
                    'method': 'POST'
                }) }}
                <div class="col-sm-offset-2 col-sm-8">
                    <div class="error">
                        <span id="loginError"></span>
                        {#{% if error %}#}
                        {#<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
                        {#{% endif %}#}
                    </div>
                    {{ form_widget(loginForm) }}
                    <div style="display: inline">
                        <input type="submit" value="Войти" class="btn btn-default col-xs-12 col-sm-6"
                               style="margin-right: 16px;"/>
                        <a href="#" data-toggle="modal" data-target="#forgotPasswordModal" style="padding-top: 7px;"
                           data-dismiss="modal" aria-hidden="true" class="col-xs-12 col-sm-5">
                            Забыли пароль?
                        </a>
                    </div>
                </div>
                {{ form_end(loginForm) }}
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Регистрация</h4>
            </div>
            <div class="modal-body">
                {{ form_start(registerForm, { 'attr': {
                    'class': 'register',
                    'onsubmit': "return registrationValidate()" },
                    'action': path('register'),
                    'method': 'POST'
                }) }}
                <div class="col-sm-offset-2 col-sm-8">
                    <div class="error">
                        <span id="registrationError"></span>
                    </div>
                    {{ form_widget(registerForm) }}
                    <input type="submit" value="Зарегистрироваться" class="btn btn-default" />
                </div>
                {{ form_end(registerForm) }}
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Восстановление пароля</h4>
            </div>
            <div class="modal-body">
                {{ form_start(forgotPasswordForm, { 'attr': {'class': 'forgotPassword' } }) }}
                <div class="col-sm-offset-2 col-sm-8">
                    <div class="error">
                        <span id="emailForgotError"></span>
                    </div>
                    {{ form_widget(forgotPasswordForm) }}
                </div>
                {{ form_end(forgotPasswordForm) }}
            </div>
        </div>
    </div>
</div>